* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.meal-picture {
    display: flex;
    justify-content: center;
}

.image-caption {
    text-align: center;
}